absl-py==2.1.0
astunparse==1.6.3
certifi==2024.2.2
charset-normalizer==3.3.2
chex==0.1.86
cma==3.3.0
contourpy==1.2.1
cycler==0.12.1
etils==1.7.0
evojax==0.2.16
flatbuffers==24.3.25
flax==0.6.11
fonttools==4.51.0
fsspec==2024.3.1
gast==0.5.4
google-pasta==0.2.0
grpcio==1.62.1
h5py==3.11.0
idna==3.7
importlib_resources==6.4.0
ipywidgets==8.1.2
jax==0.4.23
jaxlib==0.4.23
jupyterlab_widgets==3.0.10
keras==3.2.1
kiwisolver==1.4.5
libclang==18.1.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
mdurl==0.1.2
mediapy==1.2.0
ml-dtypes==0.3.2
msgpack==1.0.8
namex==0.0.8
numpy==1.26.4
opencv-python==4.9.0.80
opt-einsum==3.3.0
optax==0.2.2
optree==0.11.0
orbax-checkpoint==0.5.9
pillow==10.3.0
protobuf==4.25.3
pyparsing==3.1.2
PyYAML==6.0.1
requests==2.31.0
rich==13.7.1
scipy==1.13.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.36.0
tensorstore==0.1.56
termcolor==2.4.0
toolz==0.12.1
tqdm==4.66.2
traitlets==5.14.2
typing_extensions==4.11.0
urllib3==2.2.1
wcwidth==0.2.13
Werkzeug==3.0.2
widgetsnbextension==4.0.10
wrapt==1.16.0
zipp==3.18.1
